/* Estilos para la sección tagline */

/* Configuración del header para posicionar el pseudo-elemento */
.seccion-tagline {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 7rem;

}

/* Pseudo-elemento que muestra la imagen de fondo ocupando el 100% del ancho */
.seccion-tagline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;           /* 100% del viewport */
  height: 100%;
  background: url('https://wallpapers.com/images/featured/luces-de-la-ciudad-9m1dmiiatfigeh7v.jpg') no-repeat center center;
  background-size: cover;
 
  z-index: -1;  
            /* Se ubica detrás del contenido del header */
}

/*Desplazamiento en computadoras de la imagen*/
@media (min-width: 1024px) {
  .seccion-tagline::before {
    background-position: center 25%;
  }
}


/* Stilo para la seccion first_heading */
.imagen-redonda {
  width: 300px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


