<hr class="w-75 mx-auto my-5 border-0" style="height:1px;background:#dfe1e5;">

 <!-- portfolio.html -->
<section id="portafolio" class="espaciado-seccion py-5 mt-5 ">
  <!-- Línea divisoria gris-claro estable -->
  
  <div class="container">
    <!-- Título y texto descriptivo en la esquina superior izquierda -->
    <div class="row mb-4">
      <div class="col-12 text-start">
        <h2 class="fs-1">Portafolio</h2>
        <p class="fw-normal fs-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem neque, quas, molestiae voluptas mollitia omnis nostrum sunt eaque, accusamus repudiandae ex? Omnis sit exercitationem et dolorem expedita fugit porro tempore.
        </p>
      </div>
    </div>

    <div class="row">
      <!-- Proyecto 1 -->
      <div class="col-lg-4 mb-4">
        <img class="img-fluid mb-3" 
             src="https://placehold.co/700x400/d9d9d9/999999?text=700x400" 
             alt="Placeholder de proyecto">
        <h3 class="text-primary">Project Name</h3>
        <p class="fw-normal fs-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        </p>
      </div>
      <!-- Proyecto 2 -->
      <div class="col-lg-4 mb-4">
        <img class="img-fluid mb-3" 
             src="https://placehold.co/700x400/d9d9d9/999999?text=700x400" 
             alt="Placeholder de proyecto">
        <h3 class="text-primary">Project Name</h3>
        <p class="fw-normal fs-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        </p>
      </div>
      <!-- Proyecto 3 -->
      <div class="col-lg-4 mb-4">
        <img class="img-fluid mb-3" 
             src="https://placehold.co/700x400/d9d9d9/999999?text=700x400" 
             alt="Placeholder de proyecto">
        <h3 class="text-primary">Project Name</h3>
        <p class="fw-normal fs-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
        </p>
      </div>
    </div>
  </div>
</section>
