<hr class="w-75 mx-auto my-5 border-0" style="height:1px;background:#dfe1e5;">
<!-- services.html -->
<section class="py-5 my-5">
    <!-- separador gris clarito, siempre 1 px -->

  <div class="container ">
    <div class="row align-items-center">
      <!-- imagen a la izquierda -->
      <div class="col-md-5 text-center">
        <img
          src="https://static.skillshare.com/cdn-cgi/image/quality=80,width=450,format=auto/uploads/project/45637/cover_full_0d59b2e48f16f9ae17f29f02f5c5e90e.jpg"
          alt="Servicios"
           class="img-fluid rounded-circle mx-auto d-block"
            style="width: 280px; height: 280px; object-fit: cover;"
        >
      </div>

      <!-- texto a la derecha -->
      <div class="col-md-7">
        <h2 class="display-7 fw-bold fs-1">
          The Second Heading
          <span class="text-secondary fw-normal fs-1">Is Pretty Cool Too.</span>
        </h2>

        <p class="fw-normal fs-4">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
  </div>
</section>
